
# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
migrations
*.obsidian

# Ignore environment-specific settings (customize this as needed)
.env
/blog_env/

# Ignore log files
*.log
